ul.blog-type {
    list-style-type:none;
}

div.blog{
    margin-bottom: 2em;
    padding: 1em;
    border-bottom: 1px solid #c2bfbf;
}

div.blog h3{
    margin-top:0.5em;
}

div.blog p.blog-info{
    margin-bottom:0;
}

ul.blog-info-descrption{
    list-style-type:none;
    margin-bottom:2em;
}

ul.blog-info-descrption li{
    display:inline-block;
    margin-right:1em;
}

div.blog-content {
    text-indent: 2em;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

div.paginator {
    text-align:center;

}

div.blog-more{
    margin-top:1em;
}